udacity/nd027-data_engineer/Main_Class/Data_Modeling/Project_1_Postgres_SQL/
udacity/nd027-data_engineer/Main_Class/Data_Modeling/Project_2_Apache_Cassandra/
udacity/nd027-data_engineer/Extra_Class/Git/udacity-git-course/
udacity/nd027-data_engineer/Main_Class/venv
.ipynb_checkpoints