
- NOT NULL
CREATE TABLE IF NOT EXISTS transactions (
    customer_id int NOT NULL,
    store_id int,
    spent numeric
);

- UNIQUE
The UNIQUE constraint can also be used for multiple columns, so that the combination of the values across those columns will be unique within the table. 
CREATE TABLE IF NOT EXISTS transactions (
    customer_id int NOT NULL UNIQUE,
    store_id int NOT NULL UNIQUE,
    spent numeric
);

CREATE TABLE IF NOT EXISTS transactions (
    customer_id int NOT NULL,
    store_id int NOT NULL,
    spent numeric,
    UNIQUE(customer_id, store_id, spent)
);

- PRIMARY KEY
CREATE TABLE IF NOT EXISTS store (
    store_id int PRIMARY KEY, 
    store_location_city text,
    store_location_state text
);

- COMPOSITE KEY
CREATE TABLE IF NOT EXISTS customer_transactions (
    customer_id int, 
    store_id int, 
    spent numeric,
    PRIMARY KEY (customer_id, store_id)
);
